html {
  box-sizing: border-box;
  height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  overflow: hidden;
}

#container {
  background: url('../images/achtergrondparking.jpg');
  width: 100%;
  height: 100%;
  min-height: 30rem;
  background-size: cover;
  background-repeat: no-repeat;
}
#parking{
  position: absolute;
  z-index: -1;
  width: 250px;
  height: 100px;
  background-color: #000000;
}

.buzz {
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 150px;
  /*essential for determining offset*/
  height: 150px;
  /*essential for determining offset*/
}

@keyframes beating {
  to {transform: scale(1.2);}
}

.coin {
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 100px;
  /*essential for determining offset*/
  height: 100px;
  /*essential for determining offset*/
  z-index: -1;
  animation: beating .75s infinite;
}

.sb {
  position: fixed;
  margin: 10px;
  padding: 10px;
  left: 0;
  bottom: 0;
  background-color: rgb(29, 201, 58);
}

img {
  z-index: 0;
  position: absolute;
  width: 100%;
}

.cars{
  z-index: 1;
  display: relative;
  width: 200px;
  height: 100px;
}

.drive{
  transition: width 2s, height 2s, background-color 2s, transform 2s; 
}

#win{
  position: fixed;
  top: 50vh;
  left: 45vw;
  padding: 10px;
  color: #ffffff;
  opacity: 0;
  background-color: green;
}

